# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Environment
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Docker
docker-compose.override.yml

# OS
Thumbs.db
.DS_Store