venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

**/settings/local.py
**/settings/dev.py

/media/
/staticfiles/
static_root/

.env
.env.[a-zA-Z]*
!.env.example
secrets.json

__pycache__/
*.py[cod]
*$py.class
*.bak

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.flake8

.DS_Store
Thumbs.db

.idea/